#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#pageTit {
  margin-bottom: 10px;
  font-size: 24px;
}

#pageSubTit {
	margin-bottom: 60px;
	font-size: 14px;
	color: #c4c4c4;
}

#menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 60px 0px;
  width: 1174px;
  height: 40px;
  font-size: 16px;
}

.list-on {
  color: #93c0b5;
  cursor: pointer;
}

.list:hover {
  color: #93c0b5;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #463B37;
}

tr:first-child {
  border-bottom: 1px solid #eaeaea;
}

th {
	padding: 10px;
	height: 30px;
  background-color: #FAFAFA;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

td {
  padding: 10px 0px;
  text-align: center;
}

.deleteBtn {
  width: 80px;
  height: 40px;
  border: 1px solid #c09693;
  color: #c09693;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.updateBtn {
	margin-right: 20px;
  width: 80px;
  height: 40px;
  border: 1px solid #C0BB93;
  background-color: white;
  color: #C0BB93;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.item-img {
  width: 140px;
}

.item-info {
  width: 320px;
}

.item-num {
  width: 140px;
}

.item-shipping {
  width: 180px;
}

.item-price {
  width: 180px;
}

.item-delete {
  width: 284px;
}

#btnWrap {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

#addItemBtn,
#purchaseStatusBtn {
  width: 140px;
  height: 40px;
  border: 1px solid #434343;
  background-color: white;
  color: #434343;
  cursor: pointer;
  border-radius: 10px;
}

.thumbnail-item {
	margin-left: 15px;
	width: 70px;
	height: 70px;
	border-radius: 5px;
	overflow: hidden;
}

.thumbnail-item-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}