#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#pageTit {
  margin-bottom: 10px;
  font-size: 24px;
}

#pageSubTit {
	margin-bottom: 60px;
	font-size: 14px;
	color: #c4c4c4;
}

#menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 60px 0px;
  width: 1174px;
  height: 40px;
  font-size: 16px;
}

.list-on {
  color: #93c0b5;
  cursor: pointer;
}

.list:hover {
  color: #93c0b5;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #463B37;
}

tr:first-child {
  border-bottom: 1px solid #eaeaea;
}

th {
	padding: 10px;
	height: 30px;
  background-color: #FAFAFA;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

td {
  padding: 10px 0px;
  text-align: center;
}

.rental-btn {
  width: 80px;
  height: 40px;
  border: 1px solid #93c0b5;
  color: #93c0b5;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

.not-rental-btn {
	width: 80px;
  height: 40px;
  border: 1px solid #c4c4c4;
  color: #C4C4C4;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

#wayBillBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#perWayBill {
  width: 240px;
  height: 24px;
  border: 1px solid #c4c4c4;
  background-color: white;
}

#wayBillBtn {
  width: 50px;
  height: 28px;
  border: 1px solid #93c0b5;
  background-color: white;
  cursor: pointer;
}

.img-size {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.sharething-img {
  width: 100px;
}

.sharething-name {
  width: 260px;
}

.phone {
	width: 200px;
}

.sharething-lender {
  width: 120px;
}

.rental-period {
  width: 374px;
}

.sharething-return {
  width: 140px;
}

#not-rental-btn {
	display: block;
	margin: 60px auto 80px auto;
	width: 140px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}

#returnBtn {
	display: block;
	margin: 60px auto 80px auto;
	width: 140px;
  height: 40px;
  border: 1px solid #93c0b5;
  background-color: white;
  color: #93c0b5;
  cursor: pointer;
}
