header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
}

#headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1194px;
  height: 100%;
}

#logo {
	cursor: pointer;
}

#gnb {
  display: flex;
}

#gnb > li {
  margin-left: 40px;
  cursor: pointer;
}

#gnb > li:hover {
  color: #87b49f;
}

#basketIconWrap,
#alertIconWrap {
  position: relative;
}

#basketCnt {
  position: absolute;
  top: -1px;
  left: 16px;
  font-size: 12px;
  color: white;
}

#alertCnt {
  position: absolute;
  top: -1px;
  left: 17px;
  font-size: 12px;
  color: white;
}

#loginBtn {
  width: 70px;
  height: 28px;
  background-color: #93c0b5;
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

#loginBtn:hover {
  background-color: #87b49f;
}
