#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#pageTit {
  margin: 80px 0px 10px 0px;
  font-size: 24px;
  text-align: center;
  color: #6f6f6f;
}

#pageSubTit {
  margin-bottom: 80px;
  font-size: 18px;
  text-align: center;
  color: #c4c4c4;
}

#tableWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

table {
  width: 816px;
  border-collapse: collapse;
  border-top: 1px solid #93c0b5;
}

th {
  height: 48px;
  border-top: 1px solid black;
  border-bottom: 1px solid #eaeaea;
}

td {
  height: 80px;
}

.item-img-wrap {
  width: 100px;
  text-align: center;
}

.item-info {
  width: 196px;
  text-align: center;
}

.item-num {
  width: 100px;
  text-align: center;
}

.price {
  width: 140px;
  text-align: center;
}

.shipping {
  width: 140px;
  text-align: center;
}

.seller {
  width: 140px;
  text-align: center;
}

.item-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

#finalPaymentWrap {
  padding: 0px 10px;
  width: 280px;
  height: 320px;
  border-top: 1px solid black;
}

#finalPaymentTit {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: medium;
}

.price-info-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

#pointWrap {
  display: flex;
  flex-direction: column;
}

#point-input{
	display: flex;
	justify-content: flex-end;
}
#point {
  width: 60px;
  height: 24px;
}

#leftover {
  font-size: 12px;
  color: #c4c4c4;
}

.hr-solid {
  margin: 20px 0px;
  border-top: 1px solid #eaeaea;
}

#paymentBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#paymentBtn {
  width: 130px;
  height: 40px;
  background-color: #93c0b5;
  border: 1px solid #93c0b5;
  color: white;
  cursor: pointer;
}

#cancelBtn {
  width: 130px;
  height: 40px;
  background-color: white;
  border: 1px solid #535353;
  color: #535353;
  cursor: pointer;
}

.user-info-tit {
  margin: 80px 0px;
  font-size: 18px;
  font-weight: medium;
}

.user-info-box {
  padding: 10px 0px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.user-info-wrap {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  width: 1154px;
}

.user-info-subtit {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 14px;
}

.user-info {
  display: flex;
  align-items: center;
  width: 600px;
  font-size: 14px;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  width: 100px;
  height: 28px;
  border: 1px solid #eaeaea;
}

#cardNum {
  padding-left: 20px;
  width: 300px;
  height: 28px;
  border: 1px solid #eaeaea;
}

#validDate {
  padding-left: 20px;
  width: 100px;
  height: 28px;
  border: 1px solid #eaeaea;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}