<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
    	<setting name="cacheEnabled" value="false"/>
  	</settings>

	<mappers>
		<mapper resource="dongduk/cs/pulpul/dao/mybatis/mapper/BorrowMapper.xml" />
		<mapper resource="dongduk/cs/pulpul/dao/mybatis/mapper/ItemMapper.xml" />
		<mapper resource="dongduk/cs/pulpul/dao/mybatis/mapper/MarketMapper.xml" />
		<mapper resource="dongduk/cs/pulpul/dao/mybatis/mapper/MemberMapper.xml" />
		<mapper resource="dongduk/cs/pulpul/dao/mybatis/mapper/OrderMapper.xml" />
		<mapper resource="dongduk/cs/pulpul/dao/mybatis/mapper/ReviewMapper.xml" />
	</mappers>
</configuration>