#banner {
  background-color: #f8f8fa;
}

#bannerInner {
  position: relative;
  margin: 0 auto;
  width: 1194px;
}

#bannerText {
  position: absolute;
  top: 140px;
  left: 0px;
}

#bannerTit {
  margin-bottom: 32px;
  font-size: 36px;
}

#bannerSubTit {
  font-size: 16px;
  color: #c4c4c4;
}

/* trade plant introduce */

.intro-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px auto;
  width: 1194px;
  height: 500px;
}

.intro-tit {
  margin-bottom: 32px;
  font-size: 36px;
}

.intro-subtit {
  margin-bottom: 60px;
  font-size: 16px;
  color: #535353;
}

#tradeItemBtn {
  text-align: left;
  font-size: 16px;
  color: #939393;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* new item */

#newItemBox {
  margin: 0 auto;
  width: 1194px;
}

#newItemTit {
  margin-bottom: 14px;
  font-size: 36px;
  font-weight: medium;
  text-align: center;
}

#newItemSubTit {
  font-size: 18px;
  color: #535353;
  text-align: center;
}

#newItemWrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 86px;
  width: 1194px;
}

.new-item:hover {
  width: 340px;
  height: 340px;
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}

.item-img {
  margin-bottom: 40px;
  width: 340px;
  height: 340px;
  background-color: #f8f8fa;
  object-fit: cover;
}

.item-name {
  margin-bottom: 8px;
  font-size: 24px;
}

.item-price {
  font-size: 18px;
  color: #535353;
}

/* share item introduce */

#shareItemBtn {
  text-align: left;
  font-size: 16px;
  color: #939393;
  background-color: white;
  border: none;
  cursor: pointer;
}
