#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#pageTit {
  margin-bottom: 8px;
  font-size: 24px;
  color: #6f6f6f;
  text-align: center;
}

#pageSubTit {
  margin-bottom: 60px;
  font-size: 14px;
  color: #c4c4c4;
  text-align: center;
}

table {
  width: 100%;
  border-top: 1px solid #eaeaea;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
}

.tb-tit {
  width: 140px;
}

#inputWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding-left: 20px;
  width: 932px;
  height: 30px;
  border: 1px solid #eaeaea;
}

#btnWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 80px;
}

#secessionBtn {
	display: block;
  width: 140px;
  height: 40px;
  border: 1px solid #ff6f6f;
  background-color: white;
  color: #ff6f6f;
  cursor: pointer;
}

#saveBtn {
  display: block;
  width: 140px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.invalid-feedback {
	margin-top: 10px;
	color: #DBAFAE;
}
