#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#pageTit {
  margin-bottom: 8px;
  font-size: 24px;
  color: #6f6f6f;
  text-align: center;
}

#pageSubTit {
  margin-bottom: 60px;
  font-size: 14px;
  color: #c4c4c4;
  text-align: center;
}

#infoBtn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#memberName {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

#point {
  margin: 4px 0px 60px 0px;
  font-size: 12px;
  color: #93c0b5;
  text-align: center;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.list-on {
  font-size: 14px;
  color: #93c0b5;
  cursor: pointer;
}

.list {
  font-size: 14px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
	padding: 10px;
	height: 30px;
  background-color: #FAFAFA;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

td {
  padding: 10px;
  height: 48px;
}

.order-id {
  width: 150px;
  text-align: center;
}

td.order-id:hover {
	color: #93c0b5;
	font-weight: bold;
	cursor: pointer;
}

.order-date {
  width: 140px;
  text-align: center;
}

.order-market {
  width: 204px;
  text-align: center;
}

.traking-number {
  width: 180px;
  text-align: center;
}

.total-price {
  width: 180px;
  text-align: center;
}

.order-status {
  width: 180px;
  text-align: center;
}

.cancel-btn {
  width: 160px;
  text-align: center;
}

.cancelBtn-on {
  width: 80px;
  height: 40px;
  border: 1px solid #93c0b5;
  background-color: white;
  color: #93c0b5;
  cursor: pointer;
}

.cancelBtn-noton {
  width: 80px;
  height: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
  color: #c4c4c4;
  cursor: pointer;
}

.tb-disable {
  background-color: #f3f3f4;
}

#shoppingBtn {
  display: block;
  margin: 80px auto;
  width: 140px;
  height: 40px;
  background-color: #eaeaea;
  color: #535353;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.sharething-img {
  width: 140px;
  text-align: center;
}

.sharething-info {
  width: 260px;
  text-align: center;
}

.sharething-status {
  width: 100px;
  text-align: center;
}

.sharething-waybill {
  width: 288px;
  text-align: center;
}

.sharething-date {
  width: 288px;
  text-align: center;
}

.sharething-btn {
  width: 120px;
  text-align: center;
}

.extension-btn {
  width: 80px;
  height: 40px;
  border: 1px solid #93c0b5;
  background-color: white;
  color: #93c0b5;
  cursor: pointer;
}

.not-extension-btn {
	width: 80px;
  height: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
  color: #c4c4c4;
  cursor: pointer;
}

.rental-btn {
  width: 80px;
  height: 40px;
  border: 1px solid #93c0b5;
  background-color: white;
  color: #93c0b5;
  cursor: pointer;
}

.rental-btn-disable {
  width: 80px;
  height: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
  color: #c4c4c4;
  cursor: pointer;
}

.img-size {
	width: 70px;
	height: 70px;
	object-fit: contain;
}

/* datepicker ui */

.datepicker {
	width: 100px;
	cursor: pointer;
	text-align: center;
}

.datepicker:focus {
	outline-color: #93c0b5;
}

/* paging */
#pagingBtnWrap {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 80px;
}

#previousBtn,
#nextBtn {
	width: 200px;
	height: 40px;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	background-color: white;
	color: #535353;
	cursor: pointer;
}

.invalid-feedback {
	margin-top: 14px;
	font-size: 14px;
	color: #DF5375;
}