<!DOCTYPE html>

<html lang="ko" 
  xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="configFragment">
		<meta charset="UTF-8"/>
		<title>pulpul</title>

		<!-- 공통으로 사용할 css -->
		<link th:href="@{/css/common/common.css}" rel="stylesheet" />
    
    <!-- 고유 페이지의 css, script fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	</th:block>
</html>