<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
  
  <script th:src="@{/js/fragments/header.js}"></script>
    
  <header th:fragment="headerFragment">
	  <div id="headerInner">
	    <img th:src="@{/images/logo.svg}" id="logo"  onclick="location.href='/home'" />
	    
	    <ul id="gnb">
	    	<li th:if="${isNotLogined}" onclick="alert('로그인이 필요한 서비스입니다.'); return false;">마켓관리</li>
	    	<li th:unless="${isNotLogined}"><a href="/market/view">마켓관리</a></li>
	      <li><a href="/lookup/goodsList">식물조회</a></li>
	      <li><a href="/lookup/shareThingList">물품대여</a></li>
	      <li><a href="/member/mypage">마이페이지</a></li>
	      
	      <li>
	        <div id="basketIconWrap" onclick="location.href='/cart/cartList'">
	        	<th:block th:if="${session.cartItemCnt == null}">
	        		<img th:src="@{/images/basketNullIcon.svg}" />
	        	</th:block>
	        	<th:block th:unless="${session.cartItemCnt == null}">
	        		<img th:src="@{/images/basketIcon.svg}" />
	          	<div id="basketCnt" th:text="${session.cartItemCnt}"></div>
	          </th:block>
	        </div>
	      </li>
	      
	      <li>
	        <div id="alertIconWrap" onclick="location.href='/lookup/alertList'">
	          <img th:src="@{/images/alertIcon.svg}" />
	          <div id="alertCnt">3</div>
	        </div>
	      </li>
	      
	      <li>
	      	<button th:if="${session.id == null}" id="loginBtn" onclick="location.href='/member/login'">sign in</button>
	      	<button th:if="${session.id != null}" id="loginBtn" onclick="location.href='/member/logout'">sign out</button>
	      </li>
	    </ul>
	  </div>
	</header>
</html>
