#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#marketImg {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
	object-fit: cover;
	border-radius: 100px;
}

#pageTit {
  margin: 30px 0px 14px 0px;
  color: #6f6f6f;
  font-size: 24px;
  text-align: center;
}

#pageSubTit {
  margin-bottom: 80px;
  font-size: 18px;
  color: #c4c4c4;
  text-align: center;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 80px auto;
  width: 200px;
}

.list-on {
  font-size: 14px;
  color: #93c0b5;
  cursor: pointer;
}

.list {
  font-size: 14px;
  cursor: pointer;
}

.item {
	height: 400px;
}

.item:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.item-img-size {
	width: 270px;
	height: 270px;
	background-color: #F1F1F1;	
	border-radius: 5px;
	overflow: hidden;
}

.item-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#itemWrap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-bottom: 100px;
  width: 1194px;
}

.itemWaitingWrap {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 20px 0px 20px 0px;
	height: 24px;
}

.item-name {
  font-size: 18px;
  text-align: center;
}

.plant-name {
	margin: 20px 0px 10px 0px;
  font-size: 18px;
}

.plant-price {
  font-size: 14px;
  color: #535353;
}

.hr-dotted {
  border: 0px;
  border-top: 2px dotted #c4c4c4;
}

td {
  padding-left: 20px;
  width: 160px;
  height: 40px;
  font-size: 14px;
}

.waitingWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #c09693;
}

.rental-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 24px;
  font-size: 14px;
  border: 1px solid #463B37;
  border-radius: 5px;
  background-color: #463B37;
  color: white;
}

.rental-notok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 24px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #c4c4c4;
  color: white;
}

table {
	width: 900px;
}
tr td:first-child{
	width: 20px;
	text-align: left;
}
td {
	text-align: left;
}

