#pageWrap {
  margin: 80px auto;
  width: 1194px;
}

#pageTit {
  margin-top: 80px;
  font-size: 32px;
  color: #6f6f6f;
  text-align: center;
}

#pageSubTit {
  margin: 8px 0px 80px 0px;
  font-size: 14px;
  color: #c4c4c4;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #c4c4c4;
}

tr:first-child {
  border-bottom: 1px solid #eaeaea;
}

th {
  height: 40px;
  font-size: 14px;
}

td {
  height: 140px;
  text-align: center;
  font-size: 14px;
}

.item-img {
  width: 100px;
}

.item-info {
  width: 280px;
}

.item-num {
  width: 140px;
}

.recipient {
  width: 180px;
}

.item-shipping {
  width: 180px;
}

.item-waybill {
  width: 314px;
}

.plant-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 5px;
}

.plant-info {
  text-align: left;
}

.market-name {
  font-size: 12px;
  color: #8f8f8f;
}

.plant-info-inner {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.plant-price {
  color: #6f6f6f;
}

#returnBtn {
	display: block;
	margin: 60px auto 80px auto;
	width: 140px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}
