<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/default_layout}">

  <th:block layout:fragment="css">
    <link th:href="@{/css/fragments/header.css}" rel="stylesheet" />
	  <link th:href="@{/css/fragments/footer.css}" rel="stylesheet" />
  	<link rel="stylesheet" th:href="@{/css/lookup/market.css}" >
  </th:block>
  
  <th:block layout:fragment="script">
  	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script th:src="@{/js/lookup/market.js}" defer></script>
  </th:block>

	<div layout:fragment="content">
		<script th:inline="javascript">
  		console.log('데이터 확인');
  		var market = [[${market}]];
  		console.log(market);
  		var marketId = [[${market.id}]]; // 이 부분은 지우면 안됨!!
  	</script>
		<div id="pageWrap" th:object="${market}">
			<!-- /lookup/market/goodsList -->
		<th:block th:if="${#httpServletRequest.requestURI} == '/lookup/market'">
	      <img src="/images/marketImg.svg" id="marketImg" />
	      <div id="pageTit" th:text="*{name}"></div>
	      <div id="pageSubTit">personal market</div>
	
	      <div id="menu">
	        <div id="goods-menu" class="list" th:onclick="goodsJson([[${market.id}]])">상품</div>
	        |
	        <div id="shareThing-menu" class="list" th:onclick="shareThingJson([[${market.id}]])">공유물품</div>
	      </div>
	      
	     <div id="itemWrap">
      	 </div>
	
	      <hr class="hr-dotted" />
	      <table class="marketTable">
	        <tr>
	          <td>마켓 설명</td>
	          <td th:text="*{intro}"></td>
	        </tr>
	
	        <tr>
	          <td>문의</td>
	          <td th:text="*{member.phone}"></td>
	        </tr>
	
	        <tr>
	          <td>연락 가능 시간</td>
	          <td th:text="*{contactableTime}"></td>
	        </tr>
	
	        <tr>
	          <td>교환/반품/환불</td>
	          <td th:text="*{policy}"></td>
	        </tr>
	
	        <tr>
	          <td>구매 전 유의사항</td>
	          <td th:text="*{precaution}"></td>
	        </tr>
	      </table>
	      <hr class="hr-dotted" />
      </th:block>
      
      <!-- /lookup/market/shareThingList -->
      <th:block th:if="${#httpServletRequest.requestURI} == '/lookup/market/shareThingList'">
	      <div id="itemWrap">
	        <div class="item" onclick="location.href='/lookup/shareThingDetail'">
	          <div class="item-img-size"></div>
	          <div class="itemWaitingWrap">
		          <div class="item-name">### 물품</div>
		
		          <div class="waitingWrap">
		            <img src="/images/waiting.svg" />
		            <div class="waiting">2</div>
		          </div>
	          </div>
	
	          <div class="rental-ok">대여 가능</div>
	        </div>
      	</div>
      </th:block>
    </div>
	</div>
</html>