#pageWrap {
  margin: 100px auto;
  width: 500px;
}

#pageTit {
  margin-bottom: 12px;
  font-size: 24px;
}

#pageSubTit {
  margin-bottom: 50px;
  color: #c4c4c4;
  font-size: 12px;
}

#pageSubTit > span {
  margin-right: 10px;
  color: #93c0b5;
}

input {
  margin-bottom: 40px;
  padding-left: 20px;
  width: 476px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

#passwordBtn {
  width: 500px;
  height: 40px;
  background-color: #535353;
  color: white;
  border: 1px solid #93c0b5;
  cursor: pointer;
}

#passwordBtn:hover {
  background-color: #5d5d5d;
}
