#joinPageWrap {
  margin: 200px auto;
  width: 1194px;
}

#joinText {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
}

#joinTit {
  margin-right: 14px;
  font-weight: medium;
  font-size: 24px;
}

#joinSubTit {
  font-size: 12px;
  color: #8f8f8f;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #93c0b5;
}

td {
  padding: 10px 0px;
}

tr {
  border-bottom: 1px solid #eaeaea;
}

input {
  padding: 0px 20px;
  width: 260px;
  height: 28px;
  border: 1px solid #eaeaea;
  font-size: 14px;
}

.text-name {
  width: 170px;
  font-size: 14px;
  color: #676767;
}

.text-name > span {
  margin-left: 4px;
  font-size: 14px;
  color: #FA625C;
}

#addressText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
  width: 100%;
  height: 34px;
}

#joinCancelBtn,
#joinBtn {
  width: 120px;
  height: 34px;
  border: none;
  cursor: pointer;
}

#joinCancelBtn {
  color: #535353;
  background-color: white;
  border: 1px solid #535353;
}

#joinBtn {
  color: white;
  background-color: #93c0b5;
}

.inputWrap {
	display: flex;
	align-items: center;
	gap: 20px;
}

.invalid-feedback {
	color: #FA625C;
	font-size: 14px;
}
